
   
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center"  mat-stretch-tabs="true" mat-align-tabs="start"   >

    <mat-tab label="каталог товаров"  >

       
      <mat-table [dataSource]="dataSource" class="table"  >
        
        
         
        
          <ng-container matColumnDef="name"  >
          <mat-header-cell mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element" (click) = "OpenProduct(element.id)" style=" cursor: pointer;"> 
            <div class="product-image">
              <div >{{element.name}}</div>
            </div>
            
          </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="price">
          <mat-header-cell mat-header-cell *matHeaderCellDef> price </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element" (click) = "OpenProduct(element.id)" style=" cursor: pointer;"> 
            <div  >
              <div >{{element.price}}</div>
            </div>
            
          </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="remove">
          <mat-header-cell mat-header-cell *matHeaderCellDef> remove </mat-header-cell>
          
          <mat-cell mat-cell *matCellDef="let element"  > 
              <button mat-raised-button color="basic" (click) = "RemoveItem(element)"   >
                удалить  
                </button>
          </mat-cell>

        </ng-container>

        <ng-container matColumnDef="quantity">
          <mat-header-cell mat-header-cell *matHeaderCellDef> quantity </mat-header-cell>
          
          <mat-cell mat-cell *matCellDef="let element"> 
            <mat-form-field appearance="fill" style="margin-top: 10px;">
              <mat-label>кол-во</mat-label>
              <input  type="number"  min="1" value="1"  matInput>
            </mat-form-field>
          </mat-cell>

        </ng-container>
     
        <mat-header-row  *matHeaderRowDef="displayedColumns"  ></mat-header-row>
        <mat-row   class="rowTable"   matRipple *matRowDef="let row; columns: displayedColumns; "    ></mat-row>
      
      </mat-table>

     
    
  </mat-tab>
    <mat-tab label="Second">
      
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
     
     
    </mat-tab>
     
  </mat-tab-group>
