
.body{
    background-color: black;
}
.table{
    width: 80%;
    box-shadow: none;
}
.category:hover {

    transform: scale(1.0);
    
    box-shadow: 0 0 10px rgba(0,0,0,20); /* Параметры тени */
  }
.category {
    width: 300px;  
    color: black; 
    background-color: white;
    border-color: black;
    cursor: pointer;
    
  }
.content{
    margin-left: 30px;
    margin-right: 30px;
   
}
 