 
<div >


	<ng-template #content let-offcanvas >
 
		<div class="offcanvas-body  "   >
				<!-- NEW -->
			

				<table mat-table [dataSource]="Categories" class="mat-elevation-z8" style="box-shadow: none; width: 80%;" >

					<!--- Note that these columns can be defined in any order.
						  The actual rendered columns are set as a property on the row definition" -->
				  
					    <div >
						  <ng-container matColumnDef="position"  >
							<th mat-header-cell *matHeaderCellDef class="category">категории </th>
							<td mat-cell *matCellDef="let element"   (click) = "ShowCategory(element.categoryName)"  class="category"   > {{element.categoryName}}  </td>
						  </ng-container>
						</div> 	
				    
					 
					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				  </table>

		</div>	
		 
	</ng-template>
	
	<ng-template #content2 let-modal  >
		<div class="modal-header" style="background-color: #ACA9A9;">
			<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
			<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
		</div>
		<div class="modal-body" style="background-color: #ACA9A9;" >
				<app-regisration   [model] = "regModel"  ></app-regisration>
		</div>
		<div class="modal-footer" style="background-color: #ACA9A9;">
			<button mat-raised-button color="primary" (click) = "Registration()" style="margin-right:auto">регистрация</button>
			 
			
		</div>
	</ng-template>	 
	
	<ng-template #content3 let-authModal  >
		<div class="modal-header" style="background-color: #ACA9A9;">
			<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
			<button type="button" class="btn-close" aria-label="Close" (click)="authModal.dismiss('Cross click')"></button>
		</div>
		<div class="modal-body" style="background-color: #ACA9A9;" >
			<mat-form-field class="example-form-field">
				<mat-label>логин</mat-label>
				<input matInput type="text" [(ngModel)]="model.userName">
				
			  </mat-form-field>
			  <br>
			  <mat-form-field class="example-form-field">
				<mat-label>пароль</mat-label>
				<input matInput type="password" [(ngModel)]="model.password">
			  </mat-form-field>
			  <br>
			  
		</div>
		<div class="modal-footer" style="background-color: #ACA9A9;">
			<button mat-button style="color: white;" (click) = "Authorize()" style="margin-right:auto" mat-raised-button color="primary">авторизация</button>
			 
		</div>
	</ng-template>	 
	 
	<p>
		<mat-toolbar color="primary" style="height: 80px;">
		  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
			<button mat-icon-button class="example-icon" class="btn btn-lg btn-outline-primary mb-2 me-2" aria-label="Example icon-button with menu icon" (click)="openScroll(content)">
				<mat-icon>menu</mat-icon>
			  </button>
			  
		  </button>
		  
		  <span>каталог</span>
		  
		  <div style="right: 30px;   position: absolute;  "  >
			<button mat-raised-button color="primary" style="  float: right;   width: 150px;  " (click)="ShowProductsBasket()"  matBadge="{{productsHelper.numbers.length}}" [matBadgeHidden]="productsHelper.numbers.length == 0" matBadgeSize="large">
				корзина <mat-icon  >shopping_basket</mat-icon>
			  </button>

			  <button mat-raised-button color="primary" 
			  (click)="open(content3)" 
			  class="btn btn-lg btn-outline-primary"   
			  style=" margin-right: 30px; float: right;   width: 150px;  "  
			  matBadgeSize="large" 
			  [hidden] = "_identetyService.IsAuthorize == true">
				авторизация  
			  </button>

			  <button mat-raised-button color="primary" [hidden] = "_identetyService.IsAuthorize == true" (click)="open(content2)" class="btn btn-lg btn-outline-primary"   style=" margin-right: 30px; float: right;   width: 150px;  "    matBadgeSize="large">
				регистрация  
			  </button>
			  <p ngModel = [(authMessage)] style=" margin-right:260px; float: right;   width: 150px;  " >{{authMessage}} </p>
			   
		  </div>
		  
		   

		  <span class="example-spacer"></span>
		  
		  
		</mat-toolbar>
	  </p>
	  
	<div class="content">
		 
		<router-outlet ></router-outlet>
		
	</div>	
	
</div>	